In [3]:
import pandas as pd
import joblib
import os

In [4]:
testdata_path = "./data/test.csv"
model_path = ""

test_df = pd.read_csv(testdata_path)
target_column = "Addicted_Score"

X = test_df.drop(columns=[target_column])
y = test_df[target_column]

In [19]:
X

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media
0,129,130,21,Female,Graduate,India,5.6,Instagram,Yes,5.6,6,In Relationship,3
1,499,500,22,Male,Graduate,Canada,3.6,TikTok,Yes,8.6,6,Single,3
2,236,237,19,Female,Undergraduate,USA,6.8,Instagram,Yes,5.9,4,Single,4
3,497,498,21,Male,Graduate,Mexico,7.3,WhatsApp,Yes,4.9,6,Single,3
4,679,680,24,Male,Graduate,Mexico,6.2,Facebook,Yes,6.3,5,Single,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,640,641,22,Female,Graduate,Ireland,5.9,Instagram,Yes,6.5,6,Single,3
137,256,257,19,Female,Undergraduate,Japan,3.4,LINE,No,8.2,8,Single,1
138,135,136,20,Female,Undergraduate,India,5.4,Instagram,Yes,5.4,6,In Relationship,3
139,331,332,22,Male,Graduate,Denmark,3.9,Facebook,No,7.9,8,In Relationship,2
140,0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3

In [12]:
model_path = os.path.join("..", "models", "socialmedia-addication", "INPUT_model_path", "socialmedia_addiction_regressor_model.pkl")
model = joblib.load(model_path)

y_pred = model.predict(X)

c:\Users\thijs\Desktop\Eindwerk_Howest_MLOps\.venv\Lib\site-packages\socialmedia_modeling\data\transformations.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Academic_Level"] = df["Academic_Level"].replace(academic_level_mapper)

In [21]:
input_data = {
    "Unnamed: 0": [0],
    "Student_ID": [0],
    "Age": [18],
    "Gender": ["Female"],
    "Academic_Level": ["Undergraduate"],
    "Country": ["Belgium"],
    "Avg_Daily_Usage_Hours": [16.0],
    "Most_Used_Platform": ["TikTok"],
    "Affects_Academic_Performance": ["Yes"],
    "Sleep_Hours_Per_Night": [3.0],
    "Mental_Health_Score": [1.0],
    "Relationship_Status": ["Single"],
    "Conflicts_Over_Social_Media": [5]
}

input_df = pd.DataFrame(input_data)
input_df

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media
0,0,0,18,Female,Undergraduate,Belgium,16.0,TikTok,Yes,3.0,1.0,Single,5

In [23]:
y_pred = model.predict(input_df)
y_pred

c:\Users\thijs\Desktop\Eindwerk_Howest_MLOps\.venv\Lib\site-packages\socialmedia_modeling\data\transformations.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Academic_Level"] = df["Academic_Level"].replace(academic_level_mapper)

array([8.99333333])

In [28]:
import sys
from pathlib import Path

# Voeg de root van je project toe aan sys.path
sys.path.append(str(Path().resolve().parent))

In [50]:
import importlib
import inference.socialmedia_addiction_input as sm_input
importlib.reload(sm_input)

dto = sm_input.SocialmediaAddictionInput(
    age=22,
    gender=sm_input.GenderEnum.male,
    academic_level=sm_input.AcademicLevelEnum.undergraduate,
    country_iso="BE",
    avg_daily_usage_hours=5.5,
    most_used_platform=sm_input.MostUsedPlatformEnum.instagram,
    affects_academic_performance=True,
    sleep_hours_per_night=7.0,
    mental_health_score=8.0,
    relationship_status=sm_input.RelantionshipStatusEnum.single,
    conflicts_over_social_media=2
)

dto.to_dict()
input_df = pd.DataFrame(input)
input_df

None

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media
0,0,0,22,Male,Undergraduate,Belgium,5.5,Instagram,Yes,7.0,8.0,Single,2

In [51]:

addiction_score = model.predict(input_df)
addiction_score

c:\Users\thijs\Desktop\Eindwerk_Howest_MLOps\.venv\Lib\site-packages\socialmedia_modeling\data\transformations.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Academic_Level"] = df["Academic_Level"].replace(academic_level_mapper)

array([4.17333333])